@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

.imgprofile{
height: 125px;
width: 125px;
border-radius: 100px;
}
.signature{

line-height: 5px;

}
.signature2{

color: #4979ff;
line-height: 5px;
}

.textpara {
color: black;
font-family: "Nunito";
font-size: 18px;
}
