.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
  
  

}
.text {
  color: black;
  font-size: 20px;

  ;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
  display: inline-block
}


.btn2 {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: white;
  border-radius: 4px;
  color: #4979ff;
  text-align: center;
  display: inline-block;
  border: 2px solid #4979ff;
}

.btn:hover{

background-color:rgba(0, 0, 255, 0.3);
color:#333;

}
.subtitle {

 color: #027fff;
 font-size: 46px;
 line-height:60px;
 
 

}

.placeholder {

display: inline-block;
margin-left: 8px;
margin-right: 8px;


}

